body{
    font-family: Trebuchet MS;
}

p{
    margin: 2%;
    text-align: left;
}

div {
    margin: 4%
}

h1,h2,h3 {
    color: #303F9F;
}

.primary-back{
    background: #E0E0E0;
}


h4{
    margin: 2%;
    font-size: 18px;
    text-align: left;
}

.btn-primary {
    background: #303F9F;
    color: #ffffff;
}
.well{
    background: #ffffff;
}
.danger{
    color: #D32F2F;
}

ul{
    list-style-type:none;
}