<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'localizer/style.css' %}" />
</head>

<style>
    .align-text {
        position: absolute;
        width: 300px;
        height: 200px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -150px;
    }
</style>
<body>
    <div class="align-text">
        <h1 align="center">Большое спасибо за участие!</h1>
        <h4> Ваш уникальный код (не забудьте его скопировать):</h4>
        <h4>{{subject_id}}</h4>

        <h4 align="center">Теперь это окно можно закрыть.</h4>
    </div>



</body>
</html>