<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <h1>Инструкция</h1>
    <p>
        Вам будут показываться незаконченные предложения, которые вам надо прочитать вслух и закончить одним подходящим по смыслу существительным.
        На это у вас будет 7 секунд. Через 7 секунд предложение пропадёт и начнется обратный отсчет перед предъявлением следующего предложения.
        Если вы не успели закончить предложение, забудьте про него и сосредоточтесь на следующем предложении.
    </p>

    <a class="btn btn-primary" href="{% url 'localizer:probe' %}">Начать эксперимент</a>
</body>
</html>