<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'localizer/style.css' %}" />

</head>
<body class="primary-back">
    <div align="center" class="well">
        <h1>Инструкция</h1>
        <p>
            На экране будут появляться незаконченные предложения, которые вам надо прочитать вслух и закончить одним подходящим по смыслу существительным.
            На это у вас будет 5 секунд. Через 5 секунд предложение пропадёт и появится восклицательный знак. После появления восклицательного знака
            заканчивать предложение уже не надо. Через несколько секунд появится следующее предложение.
        </p>

        <p>
            Всего мы покажем вам 83 предложения (1 тестовый блок из 3 предложений и 4 блока по 20 предожений). Между блоками вы можете сделать перерыв, чтобы отдохнуть. Старайтесь не отвлекаться в середине блока.
            Внизу приведен пример одного предложения, а также правильных и неправильных ответов:
        </p>

        <h3>
           Мама ищет ...
        </h3>

        <p>
            <span class="glyphicon glyphicon-remove text-danger"></span>
            Кошку - Неправильно. Надо прочитать предложение полностью, и только потом закончить одним словом.
        </p>

        <p>
            <span class="glyphicon glyphicon-remove text-danger"></span>
            Мама ищет меня - Неправильно. Продолжить предложение надо существительным, а здесь местоимение.

        </p>

        <p>
            <span class="glyphicon glyphicon-remove text-danger"></span>
            Мама ищет быстро - Неправильно. Продолжить предложение надо существительным, а здесь наречие.

        </p>

        <p>
            <span class="glyphicon glyphicon-ok text-success"></span>
            Мама ищет сына - Правильно!
        </p>

        <p>
            <span class="glyphicon glyphicon-ok text-success"></span>
            Мама ищет кошку - Правильно!
        </p>

        <br>

        <a class="btn btn-primary" href="{% url 'localizer:task' %}">Начать</a>
    </div>
</body>
</html>