<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="{% static 'localizer/js/Recorderjs/dist/recorder.min.js' %}"></script>

</head>
<body>

    <p>{{ probe_text }}</p>

    <form action='.' enctype="multipart/form-data" method="post">
        {% csrf_token %}
    </form>

    <script>
        var recorder;

        if (!Recorder.isRecordingSupported()) {
            console.log("Recording features are not supported in your browser.");
        }

        function async_sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }

        // Required for Django CSRF
        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

        // Actual Upload function using xhr
        function upload(blob){
                var csrftoken = getCookie('csrftoken');
                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'upload/', true);
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.setRequestHeader("MyCustomHeader", "Put anything you need in here, like an ID");
                xhr.send(blob);
        };

        document.addEventListener("DOMContentLoaded",
            function(event){
                recorder = new Recorder({
                    encoderBitRate: 128,
                    encoderApplication: 2048, // voice
                    wavBitDepth: 8,
                    encoderPath: "{% static 'localizer/js/Recorderjs/dist/waveWorker.min.js' %}"
                });

                recorder.addEventListener( "streamReady", async function(e){
                    console.log("Stream initialized");
                    recorder.start();
                    console.log("Recording started");
                    await async_sleep(3000);
                    recorder.stop();
                    console.log("Recording stopped");
                });

                recorder.addEventListener( "streamError", function(e){
                    console.log('Error encountered: ' + e.error.name );
                });

                recorder.addEventListener( "dataAvailable", function(e){
                    console.log("dataAvailable");
                    upload(e.detail);
                 });

                recorder.initStream();
                console.log("Stream initialized");
            }
        );

    </script>

</body>
</html>