<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{% static 'localizer/js/Recorderjs/dist/recorder.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'localizer/style.css' %}" />

</head>

<style>
    .align-text {
        position: absolute;
        width: 500px;
        height: 200px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -250px;
    }

    .progress_outer {

        position:absolute;
        margin-left:35%;
        margin-right:35%;
        width:30%;
        bottom:0%;
        height: 5px;
    }

    .progress_inner{
        margin:0%;
        background-color: #303F9F;
    }


</style>

<body>
    <div class="align-text">
        <h1 id="probe_text" align="center"></h1>

    </div>

    <div class="progress progress_outer">
          <div class="progress-bar progress_inner" role="progressbar" style="width:{{ percentage_complete }}%">
          </div>
    </div>

    <form action='.' enctype="multipart/form-data" method="post">
        {% csrf_token %}
    </form>


    <script>
        var recorder;

        if (!Recorder.isRecordingSupported()) {
            console.log("Ваш браузер не поддерживает запись звука.");
        }

        function async_sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }

        // Required for Django CSRF
        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

        function redirectToUploadProblemsPage() {
            // window.location = "{% url 'localizer:upload_problems' %}";
        }

        function getSignedRequestUploadAndRedirect(blob){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "{% url 'localizer:sign_s3' %}");
          var csrftoken = getCookie('csrftoken');
          xhr.setRequestHeader("X-CSRFToken", csrftoken);

          xhr.onreadystatechange = function(){
            if(xhr.readyState === 4){
              if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                console.log(response);
                uploadFileToS3AndRedirect(blob, response.data, response.url, response.redirect_url);
              }
              else{
                redirectToUploadProblemsPage();
              }
            }
          };
          xhr.send();
        }

        function uploadFileToS3AndRedirect(blob, s3Data, url, redirect_url){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", s3Data.url);

          var postData = new FormData();
          for(key in s3Data.fields){
            postData.append(key, s3Data.fields[key]);
          }
          var filename = 'audio'; // This name is never used so it can be anything
          var file = new File([blob], filename);
          postData.append('file', file);

          var csrftoken = getCookie('csrftoken');
          xhr.setRequestHeader("X-CSRFToken", csrftoken);

          xhr.onreadystatechange = function() {
            if(xhr.readyState === 4){
              if(xhr.status === 200 || xhr.status === 204){
                window.location = redirect_url;
              }
              else{
                redirectToUploadProblemsPage();
              }
           }
          };
          xhr.send(postData);
        }


        document.addEventListener("DOMContentLoaded",
            function(event){
                recorder = new Recorder({
                    encoderBitRate: 128,
                    encoderApplication: 2048, // voice
                    wavBitDepth: 8,
                    encoderPath: "{% static 'localizer/js/Recorderjs/dist/waveWorker.min.js' %}"
                });

                recorder.addEventListener( "streamReady", async function(e){
                    for (i = 3; i >= 1; i--) {
                        probe_text.innerHTML = i.toString();
                        await async_sleep(600);
                    }
                    recorder.start();
                    probe_text.innerHTML = "{{ probe_text }}";
                    await async_sleep(5000);
                    recorder.stop();
                });

                recorder.addEventListener( "streamError", function(e){
                    console.log('Error encountered: ' + e.error.name );
                    document.cookie = "redirected_from=task";
                    window.location.replace("sound_problems");

                });

                recorder.addEventListener( "dataAvailable", function(e){
                    console.log("dataAvailable");
                    getSignedRequestUploadAndRedirect(e.detail);
                });

                recorder.initStream();
                console.log("Stream initialized");
            }
        );

    </script>

</body>
</html>