<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{% static 'localizer/js/Recorderjs/dist/recorder.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'localizer/style.css' %}" />

</head>

<style>
    .align-text {
        position: absolute;
        width: 500px;
        height: 200px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -250px;
    }

    .progress_outer {

        position:absolute;
        margin-left:35%;
        margin-right:35%;
        width:30%;
        bottom:0%;
        height: 5px;
    }

    .progress_inner{
        margin:0%;
        background-color: #303F9F;
    }


</style>

<body>
    <div class="align-text">
        <h1 id="probe_text" align="center"></h1>

    </div>

    <div class="progress progress_outer">
          <div class="progress-bar progress_inner" role="progressbar" style="width:{{ percentage_complete }}%">
          </div>
    </div>

    <form action='.' enctype="multipart/form-data" method="post">
        {% csrf_token %}
    </form>


    <script>
        var recorder;

        if (!Recorder.isRecordingSupported()) {
            console.log("Ваш браузер не поддерживает запись звука.");
        }

        function async_sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }

        // Required for Django CSRF
        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

        // Actual Upload function using xhr
        function upload(blob){
                var csrftoken = getCookie('csrftoken');
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                        // The browser will automatically follow the redirect if the server returns it.
                        // In that case we would not move to another url but xhr.responseText would
                        // contain the html of the page we would have redirected to.
                        // Instead, we return the redirect URL in the response body and go there.
                        redirect_url = xhr.responseText;
                        window.location = redirect_url;
                    }
                }
                xhr.open('POST', 'upload/', true);
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.setRequestHeader("MyCustomHeader", "Put anything you need in here, like an ID");
                xhr.send(blob);
        };

        document.addEventListener("DOMContentLoaded",
            function(event){
                recorder = new Recorder({
                    encoderBitRate: 128,
                    encoderApplication: 2048, // voice
                    wavBitDepth: 8,
                    encoderPath: "{% static 'localizer/js/Recorderjs/dist/waveWorker.min.js' %}"
                });

                recorder.addEventListener( "streamReady", async function(e){
                    for (i = 3; i >= 1; i--) {
                        probe_text.innerHTML = i.toString();
                        await async_sleep(700);
                    }
                    recorder.start();
                    probe_text.innerHTML = "{{ probe_text }}";
                    await async_sleep(1000);
                    recorder.stop();
                });

                recorder.addEventListener( "streamError", function(e){
                    console.log('Error encountered: ' + e.error.name );
                    document.cookie = "redirected_from=task";
                    window.location.replace("sound_problems");

                });

                recorder.addEventListener( "dataAvailable", function(e){
                    console.log("dataAvailable");
                    upload(e.detail);
                });

                recorder.initStream();
                console.log("Stream initialized");
            }
        );

    </script>

</body>
</html>