<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'localizer/style.css' %}" />

</head>
<style>

    p {
        margin: 1%;
        text-align: left;
    }

    li {
        text-align: left;
    }

</style>
<body class="primary-back">
    <div align="center" class="well">
        <h1>Условия участия в исследовании</h1>

        <p>Я добровольно участвую в данном исследовании и соглашаюсь на запись моего голоса в исследовательских целях.</p>
        <p>Мой родной язык – русский.</p>
        <p>Я подтверждаю, что на момент исследования:</p>
            <ol>
                <li>Не имею нескорректированных проблем со зрением;</li>
                <li>Не принимаю медицинские препараты, влияющие на концентрацию внимания и время реакции;</li>
                <li>Не нахожусь под воздействием алкоголя и иных психотропных веществ.</li>
            </ol>

        <h1>Анкета</h1>
        <p>
            Прежде чем начать, мы бы хотели с вами немного познакомиться.
            Заполните небольшую анкету и переходите к самому исследованию. Нажимая "Продолжить", вы соглашаетесь с условиями участия в исследовании.
        </p>

        <form action='.' enctype="multipart/form-data" method="post">

            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Продолжить" />
        </form>
    </div>
    <!-- <a class="btn btn-primary" href="{% url 'localizer:instructions' %}">Продолжить</a> -->
</body>
</html>