<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <h1>Анкета</h1>
    <p>
        Прежде чем начать, мы бы хотели с вами немного познакомиться.
        Заполните небольшую анкету и переходите к самому эксперименту.
    </p>

    <a class="btn btn-primary" href="{% url 'localizer:instructions' %}">Продолжить</a>
</body>
</html>