<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<style>
    p {
    margin: 2%;
    text-align: left;
    }
    div {
    margin: 5%
    }
    .danger-color{
        color: #E53935;
    }
</style>

<body>
    <div align="center" class="well">
        <h1>Проверка звука</h1>

        <p>
            Давайте протестируем микрофон. Нажмите на кнопку «Запись», скажите несколько слов, затем нажмите на кнопку «Стоп».
            Внизу появится ваша запись, которую вы можете прослушать.
        </p>
        <p>
            Если громкость записи нормальная и можно легко понять, что вы сказали, то переходите к следующей странице, нажав «Продолжить».
        </p>

        <p>
            Вы можете протестировать звук несколько раз.
            Если у вас возникли проблемы с записью, вы можете связаться с нами по адресу: ek.stupina@gmail.com (Екатерина).
        </p>

        <a class="btn btn-info" href="{% url 'localizer:questionnaire' %}">Продолжить</a>
    </div>
</body>
</html>