<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'localizer/style.css' %}" />

    <script src="{% static 'localizer/js/Recorderjs/dist/recorder.min.js' %}"></script>


</head>

<body class="primary-back">
    <div align="center" class="well">
        <h1>Проверка звука</h1>

        <p>
            Давайте протестируем микрофон. Нажмите на кнопку «Запись», скажите несколько слов, затем нажмите на кнопку «Стоп».
            Внизу появится ваша запись, которую вы можете прослушать.
        </p>

        <p>
            <span class="danger">Важно!</span> Браузер запросит у вас разрешение на доступ к микрофону.
            Нажмите «Разрешить», чтобы мы могли фиксировать ваши ответы.
        </p>

        <h4>Тестирование записи звука</h4>

        <button id="start" class="btn btn-primary" >Запись</button>
        <button id="stopButton" class="btn btn-primary" disabled>Стоп</button>
        <p></p>
        <ul class="list-unstyled" id="recordingslist" ></ul>
        <p>
            Вы можете протестировать звук несколько раз.
            Если у вас возникли проблемы с записью, вы можете связаться с нами по адресу: ek.stupina@gmail.com (Екатерина).
        </p>

        <p>
            Если громкость записи нормальная и можно легко понять, что вы сказали, то переходите к следующей странице, нажав «Продолжить».
        </p>

        <form action="{% url 'localizer:questionnaire' %}">
            <button id="next" class="btn btn-primary" disabled>Продолжить</button>
        </form>

    </div>

    <script>
        var recorder;

        stopButton.addEventListener( "click", function(){ recorder.stop(); });

        // Required for Django CSRF
        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
        }

        // Actual Upload function using xhr
        function upload(blob){
                var csrftoken = getCookie('csrftoken');
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                        // The browser will automatically follow the redirect if the server returns it.
                        // In that case we would not move to another url but xhr.responseText would
                        // contain the html of the page we would have redirected to.
                        // Instead, we return the redirect URL in the response body and go there.
                        redirect_url = xhr.responseText;
                        window.location = redirect_url;
                    }
                }
                xhr.open('POST', 'upload/', true);
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.setRequestHeader("MyCustomHeader", "Put anything you need in here, like an ID");
                xhr.send(blob);
        };

        start.addEventListener( "click", function(){

                if (!Recorder.isRecordingSupported()) {
                    console.log("Ваш браузер не поддерживает запись звука.");
                }

                recorder = new Recorder({
                    encoderBitRate: 128,
                    encoderApplication: 2048, // voice
                    wavBitDepth: 8,
                    encoderPath: "{% static 'localizer/js/Recorderjs/dist/waveWorker.min.js' %}"
                });

                recorder.addEventListener( "stop", function(e){
                    stopButton.disabled = true;
                    start.disabled = false;
                    next.disabled = false;
                });

                recorder.addEventListener( "streamReady", function(e){
                    recorder.start();
                    start.disabled = true;
                    stopButton.disabled = false;
                });

                recorder.addEventListener( "streamError", function(e){
                    console.log('Error encountered: ' + e.error.name );
                    document.cookie = "redirected_from=soundtest";
                    window.location.replace("sound_problems");
                });

                recorder.addEventListener( "dataAvailable", function(e){
                    var dataBlob = new Blob( [e.detail], { type: 'audio/ogg' } );
                    var fileName = new Date().toISOString() + ".ogg";
                    var url = URL.createObjectURL( dataBlob );

                    var audio = document.createElement('audio');
                    audio.controls = true;
                    audio.src = url;

                    var link = document.createElement('a');
                    link.href = url;
                    link.download = fileName;
                    link.innerHTML = link.download;

                    var li = document.createElement('li');
                    li.appendChild(audio);

                    recordingslist.appendChild(li);
                });

                recorder.initStream();
        });
    </script>
</body>
</html>