<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'localizer/style.css' %}" />
</head>
<style>
    td, th {
        padding: 0.4em;
    }
</style>
<body>

    <div>
        <h3>Subjects Completed</h3>
        {{ html_table | safe }}

        <h3>Subjects Processed</h3>
        {{ html_table_ok | safe }}

    </div>

</body>
</html>