<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'localizer/style.css' %}" />

</head>
<body>

    <div align="center" class="well">

        <p>
            У нас не получилось отправить аудио на сервер. Ответ на последнее предложение придётся повторить.
            Нажмите "Продолжить", когда будете готовы.
        </p>

        <p>
            Если это сообщение появлялось уже несколько раз подряд, свяжитесь с нами по адресу: ek.stupina@gmail.com (Екатерина).
        </p>

        <a class="btn btn-primary" href="{{ redirected_from }}">Продолжить</a>
    </div>

</body>
</html>