<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'localizer/style.css' %}" />

</head>

<style>
    li {
        text-align: left;
    }
</style>

<body class="primary-back">

    <div align="center" class="well">
        <h1>Добро пожаловать!</h1>

        <p>
            Спасибо, что согласились поучаствовать в исследовании лаборатории нейролингвистики НИУ ВШЭ. Сейчас мы собираем
            материал для создания лингвистического теста, который будет проводиться во время функциональной магнитно-резонансной томографии в больницах.
            Он позволит локализовать речевые зоны пациента на этапе планирования операции на мозге.
        </p>

        <p>
            К участию в эксперименте приглашаются носители русского языка в возрасте от 18 до 70, которые:

        </p>

        <ol>
            <li>не имеют нескорректированных проблем со зрением;</li>
            <li>не принимают медицинские препараты, влияющие на концентрацию внимания и время реакции;</li>
            <li>не находятся под воздействием алкоголя и иных психотропных веществ.</li>
            <li>не имеют диагностированных расстройств неврологической или психической природы.</li>
        </ol>

        <p>
            Вам предстоит  читать вслух предложения и заканчивать их одним словом. Эксперимент будет состоять из четырёх частей по 3 минуты.
            В середине эксперимента вы сможете отдохнуть.
            Мы будем записывать ваши ответы, поэтому сначала нам надо убедиться, что у вас подключен и правильно настроен микрофон.
            В следующем окне вам будет предложено протестировать микрофон.
        </p>


        <a class="btn btn-primary" href="{% url 'localizer:soundtest' %}">Продолжить</a>
    </div>
</body>

</html>