<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'localizer/style.css' %}" />

</head>

<body class="primary-back">

    <div align="center" class="well">
        <h1>Добро пожаловать!</h1>

        <p>
            Спасибо, что согласились поучаствовать в исследовании лаборатории Нейролингвистики НИУ ВШЭ.
        </p>

        <p>
            Вам предстоит  читать вслух предложения и заканчивать их одним словом. Эксперимент будет состоять из четырёх частей по 2.5 минуты.
            В середине эксперимента вы сможете отдохнуть.
            Мы будем записывать ваши ответы, поэтому сначала нам надо убедиться, что у вас подключен и правильно настроен микрофон.
            В следующем окне вам будет предложено протестировать микрофон.
        </p>


        <a class="btn btn-primary" href="{% url 'localizer:soundtest' %}">Продолжить</a>
    </div>
</body>

</html>